@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #303ef7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    box-sizing: border-box;
    bottom: 60px;
}
.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}
.service ion-icon{
    font-size: 3rem;
    margin-bottom: .6rem;
    color: var(--blue);
}
.service h2{
    font-weight: 600;
    margin-bottom: .6rem;
}
.service:hover {
    background: var(--blue);
    color: #fff;
    transform: scale(1.05);
}
.service:hover ion-icon {
    color: #fff;
}